<% if @role == "cpo" %>
  <p> A referral response has been submitted for services requested for case <%= @child_id %>.</p>
<% else %>
  <p>Your response for services requested for case <%= @child_id %> has been successfully submitted.</p>
<% end %>
