<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Emergency Case:</p>
    <p>This is a reminder email for Emergency Case <%= @child.short_id %>, kindly expedite the process to complete initial assessment.</p>
    <p>Initial assessment should be completed as soon as possible but not later than: <%= @due_date %></p>
    <p>Refer to the Case ID: <%= link_to(@child.short_id, @url + 'v2/cases/' + @child.id).html_safe %></p>
  </body>
</html>
