.container {
  margin-bottom: 20px;
}

.messageDiv{
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 12px 0 rgb(125 125 125 / 23%);
  border-radius: 4px;
  border: 2px solid grey;
  text-align: center;
}
